# Django
SECRET_KEY=django-insecure-$9nt-mm+ew()*c-5hl0%6t%k-qvesw3=m2&%hyxmb2^4@*za1f
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# API Keys
GEMINI_API_KEY=your_gemini_api_key_here
GROQ_API_KEY=your_groq_api_key_here

# Local DB (set to True to use the DATABASE_URL below)
LOCAL=True

# Postgres DATABASE_URL example (fill with your password as provided)
DATABASE_URL=your-db-url